
 
 body
    {

        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.02em;
    }
 
 a
    {
         text-decoration: none;
    }
 
 ul
    {
        list-style: none;
    }
                                            /*NAVIGATION*/

                                            
                                            
.navigation-logo
{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: calc(31 / 26);
    color: #212121;
        
} 
.logo-blue
{
    color: #2196F3;
}
.navigation-link
{
font-weight: 500;
font-size: 14px;
line-height:calc(16 / 14);
color: #212121;
}
.navigation-link:hover,.navigation-link:focus
{
    color: #2196F3;
}
.header-contacts
{
font-weight: 500;
font-size:14px;;
line-height: calc(16 / 14);
color: #757575;
}
.header-contacts:hover,.header-contacts:focus
{
    color: #2196F3;
}

/*---------------------------------------------------SECTION 1---------------------------------------------------*/
.number1
{
    background-color: #757575;
}
.number1-title
{
font-weight: 900;
font-size: 44px;
line-height: calc(60 / 44);
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}
.number1-button
{
width: 200px;
height: 50px;
font-weight: bold;
font-size: 16px;
line-height: calc(30 / 16);
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
background-color: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}



/*---------------------------------------------------SECTION FEATURES------------------------------------------------------------*/
.features-title
{
font-weight: bold;
font-size: 14px;
line-height: calc(16 / 14);
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.features-discription
{
font-weight: normal;
font-size: 14px;
line-height: calc(24 / 14);
letter-spacing: 0.03em;
color: #757575;
}
/*-----------------------------------------------------SECTION ABOUT---------------------------------------------------------------*/
.about-title
{
font-weight: bold;
font-size: 36px;
line-height: calc(42 / 36);
letter-spacing: 0.03em;
color: #212121;
}
/*------------------------------------------------------SECTION TEAM--------------------------------------------------------------*/
.team-title
{
font-weight: bold;
font-size: 36px;
line-height: calc(42 / 36);
letter-spacing: 0.03em;

color: #212121;
}
.team-name
{
font-weight: 500;
font-size: 16px;
line-height: calc(19 / 16);
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.team-position
{
    font-weight: normal;
font-size: 16px;
line-height: calc(19 / 16);
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}
/*------------------------------------------------------------FOOTER----------------------------------------------------------------*/
.footer 
{
    background-color: #2F303A;
    
}
.footer-logo
{
font-family: 'Raleway', sans-serif;
font-weight: bold;
font-size: 26px;
line-height: calc(31 / 26);
letter-spacing: 0.03em;
color: #ffffff;
}
.address-street
{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: calc(24 / 14);
letter-spacing: 0.03em;
color: #FFFFFF;
}
.address-email ,.address-phone
{
font-style:normal;
font-family: 'Roboto', sans-serif;
font-weight:400;
font-size: 14px;
line-height: calc(24 / 14);
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
/*---------------------------------------------------page PORTFOLIO---------------------------------*/
.portfolio-menu-button
{
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: calc(26 / 16);
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.portfolio-menu-button:hover,.portfolio-menu-button:focus
{
    
background-color: #2196F3;
color: #FFFFFF;
}
/*----------------------------------------------------------portfolio list -------------------------------*/
.portfolio-item-title
{
font-weight: bold;
font-size: 18px;
line-height: calc(36 / 18);
letter-spacing: 0.06em;
color: #212121;
}
.portfolio-item-product
{
font-weight: normal;
font-size: 16px;
line-height: calc(30 / 16);
letter-spacing: 0.03em;
color: #757575;

}